name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build-windows-exe:
    runs-on: windows-latest

    steps:
      - name: Télécharger le code du dépôt
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Installer les dépendances
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt || true
          pip install pyinstaller

      - name: Générer l'exécutable
        run: pyinstaller --onefile main.py

      - name: Envoyer l’exécutable comme artefact
        uses: actions/upload-artifact@v4
        with:
          name: mon-exe
          path: dist/main.exe
